header {
  padding: 0;
  margin: 0;
}
header .principal {
  margin-top: 50px;
  height: auto;
  width: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header .inicio {
  margin: 15px;
  height: 250px;
}

header .imagenPrincipal {
  height: 210px;
  width: 210px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

header span {
  font-family: "Courier New", Courier, monospace;
}
.menu-principal {
  width: auto;
  height: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.menu-principal .menu-temas {
  margin: 15px;
  height: 35px;
  width: 150px;
  background-color: blueviolet;
  color: white;
  border-radius: 25px;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  text-align: center;
  align-items: center;
  justify-content: center;

  line-height: 32px;

  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.menu-temas:hover {
  background-color:green;
  color: white;

}

@media only screen and (max-width: 600px) {
  #principal {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #imagen {
    text-align: center;
    height: 184px;
  }

  #menu-principal {
    width: 333px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    line-height: 32px;
  }
  #inicio {
    width: auto;
    margin: 11px;
    height: 191px;
  }
  #menu-temas {
    background-color:green;
    color: white;
    display: inline-block;
    vertical-align: middle;    
    font-size: initial;
    margin: 2px;
  }
}
