header {
  padding: 0;
  margin: 0;
}
header .principal {
  margin-top: 50px;
  height: auto;
  width: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header .inicio {
  margin: 15px;
  height: 250px;
}

header .imagenPrincipal {
  height: 210px;
  width: 210px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

header span {
  font-family: "Courier New", Courier, monospace;
}
.menu-principal {
  width: auto;
  height: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.menu-principal .menu-temas {
  margin: 2px;
  height: 35px;
  width: 200px;
  background-color: blueviolet;
  color: white;
  border-radius: 25px;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  text-align: center;
  align-items: center;
  justify-content: center;

  line-height: 32px;

  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.menu-temas:hover {
  background-color: green;
  color: white;
}
.princpal-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  text-align: center;
}
.princpal-card .card{
  height: 350px;
  width: 300px;
  margin: 3px;
  background-color: tomato;
  border-radius: 23px;
  box-shadow: 5px 5px 15px rgba(59, 31, 31, 0.9);
}
.card .card-image{
  grid-area: image;
}
.card .card-text{
  grid-area: text;
}
.card .card-stast{
  grid-area: stast;
}

@media screen and (max-width: 500px) {
  header .principal {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .imagen {
    text-align: center;
    height: 184px;
  }
  header .inicio {
    width: auto;
    margin: 11px;
    height: 191px;
  }

  .menu-principal .menu-temas {
    width: 130px;
    margin: 1px;
    background:darkgoldenrod;
  }
  header .inicio{
    color: darkgoldenrod;
  }
  .menu-principal .menu-temas:hover{
    color: white;
    background: darkgoldenrod ;
  }
  
}
